<router-outlet></router-outlet>

<jqxNotification #successNotification
                 [width]="350" [position]="'bottom-right'" [opacity]="0.9" [autoOpen]="false"
                 [autoClose]="true" [autoCloseDelay]="50000" [animationOpenDelay]="800" [ngClass]="'position: absolute'"  [template]="'success'">
  <div></div>
</jqxNotification>

<jqxNotification #errorNotification
                 [width]="350" [position]="'bottom-right'" [opacity]="0.9" [autoOpen]="false"
                 [autoClose]="true" [autoCloseDelay]="50000" [animationOpenDelay]="800" [template]="'error'">
  <div></div>
</jqxNotification>

<jqxNotification #warnNotification
                 [width]="350" [position]="'bottom-right'" [opacity]="0.9" [autoOpen]="false"
                 [autoClose]="true" [autoCloseDelay]="50000" [animationOpenDelay]="800" [template]="'warning'">
  <div></div>
</jqxNotification>
